body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
/* Menu section css start */
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
		color: #00e0d0;
}
.navbar-light .navbar-nav .nav-link {
	color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    padding: 20px 20px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #00e0d0;
}
.bg-nav{
    background-color: #777;
}
.navbar{
    position: fixed;
    z-index: 9999;
    width: 100%;
}
.navbar{
    transition: 1s all ease;
}
/* Menu section css end */
/* Banner section css start */
#banner{
    background: url(img/banner-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 160px 0px 90px 0px;
    position: relative;
}
#banner::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(49, 37, 62, 0.4);
}
.banner-text{
    position: relative;
    z-index: 100;
}
.banner-text p{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: #ebe7ec;
}
.banner-text h1{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.banner-text a{
    color: #ffffff;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 30px;
    font-weight: 700;
   border: 2px solid #ffffff;
   border-radius: 2px;
   padding: 5px 20px 7px 20px;
   text-decoration: none;
   margin-bottom: 20px;
   display: inline-block;
}
/* slick slider */
.banner-slider{
    position: relative;
    z-index: 95;
}
.slick-dots {
	text-align: center;
	bottom: -10px;
	position: relative;
}
.slick-dots li {
	display: inline-block;
	margin-right: 10px;
	height: 20px;
	width: 20px;
	line-height: 19px;
	border-radius: 50%;
	border: 2px solid #ffffff;
}
.slick-dots li button{
    color: transparent;
    height: 15px;
    width: 15px;
    line-height: 17px;
    border-radius: 50%;
    background: #00e0d0;
    border: none;
    opacity: 0;
    transition: 0.5s all ease;
}
.slick-dots li.slick-active button{
    opacity: 1;
}
/* Banner section css end */
/* Services section css start */
/* Development section css */
#development{
    padding: 80px 0px;
}
.development-text h1{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 300;
    font-size: 60px;
}
.development-text h1 span{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 60px;
}
.development-text p{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
/* Branding section css */
#branding{
    padding: 80px 0px;
    background-color: #fafafa;
}
.branding-text h1{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 300;
    font-size: 60px;
}
.branding-text h1 span{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 60px;
}
.branding-text p{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
/* Services category section css */
#category{
    padding: 90px 0px 40px 0px;
}
.category-logo{
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #000000;
    margin: 10px 0px 0px 10px;
}
.category-text h4{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #222222;
}
.category-text p{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #808080;
    line-height: 30px;
   padding: 0px 0px 30px 0px;
}
/* Services section css end */
/* Clients section css start */
#client{
    padding: 70px 0px;
    background-color: #fafafa;
}
.client-top h1{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 300;
    font-size: 60px;
}
.client-top h1 span{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 60px;
}
.client-top p{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
/* client-logo1 css */
.client-logo1 {
	width: 220px;
	height: 220px;
	line-height: 220px;
	border-radius: 50%;
	/* background-color: #000000; */
    background: url(img/man2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	margin-top: 30px;
}
/* client-text1 css */
.client-text1{
    padding: 20px 30px;
    margin-top: 55px;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 0 5px 1px #fafafa;
}
.client-text1::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: -30px;
    top: 43%;
    border-top: 15px solid transparent;
    border-right: 30px solid #ffffff;
    border-bottom: 15px solid transparent;
}
.client-text1 p{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
}
.client-text1 h6{
    color: #7690c5;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
/* client-logo2 css */
.client-logo02 {
	width: 220px;
	height: 220px;
	line-height: 220px;
	border-radius: 50%;
	/* background-color: #15bb92f5; */
    background: url(img/man3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	margin-top: 30px;
}
/* client-text2 css */
.client-text02{
    padding: 20px 30px;
    margin-top: 55px;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 0 5px 1px #fafafa;
}
.client-text02::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: -30px;
    top: 43%;
    border-top: 15px solid transparent;
    border-left: 30px solid #ffffff;
    border-bottom: 15px solid transparent;
}
.client-text02 p{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
}
.client-text02 h6{
    color: #7690c5;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
/* Clients section css end */
/* Clients footer section css start */
#client-footer{
    padding: 70px 0px;
}
/* Clients footer section css end */
/* Team section css start */
/* team top css */
#team{
    padding: 70px 0px;
    background: #111111;
}
.team-top-text h1{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 300;
    font-size: 60px;
    color: #ffffff;
}
.team-top-text span{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #ffffff;
}
.team-top-text h6{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #aaa7a7;
    margin-bottom: 50px;
}
/* team member css */
/* team member01 image */
.team-member01{
    height: 220px;
    width: 220px;
    line-height: 220x;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: url(img/man4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* team member02 image */
.team-member02{
    height: 220px;
    width: 220px;
    line-height: 220x;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: url(img/women1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* team member03 image */
.team-member03{
    height: 220px;
    width: 220px;
    line-height: 220x;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: url(img/man1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* team member04 image */
.team-member04{
    height: 220px;
    width: 220px;
    line-height: 220x;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: url(img/man5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.team-member-name p{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 0px;
}
.team-member-name h6{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #ffffff;
}
.social-media-icon ul li{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #ffffff;
}
.media-icon{
    color: #ffffff;
}
/* slick slider for team */
.team-member-slick-slider{
    position: relative;
    z-index: 95;
}
/* team section bottom */
.team-bottom p{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #fafafa;
}
/* Team section css end */
/* Contact section css start */
#contact{
    padding: 80px 0px 30px 0px;
    background: #7690c5;
}
.contact-left h1{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 300;
    font-size: 60px;
    color: #ffffff;
}
.contact-left span{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #ffffff;
}
.contact-left p{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    padding-right: 30px;
    margin-bottom: 30px;
}
.contact-icon {
    color: #ffffff;
    font-size: 22px;
    margin-top: 5px;
}
.contact-text p{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 40px;
}
hr{
    color: #ffffff;
}
.footer-text{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    padding-top: 15px;
    margin-bottom: 0px;
}
/* Contact section css end */

/* 
     font-family: 'Darker Grotesque', sans-serif;

    font-family: 'Roboto', sans-serif;
*/